*,
*::before,
*::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
         }

    body {
            font-family: "Roboto" , sans-serif;
            background-color: #FFFFFF;
            color: #434455;
          }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p 
        {
            margin-top: 0;
            margin-bottom: 0;
        }

       ul, ol
        {
          list-style-type: none;
          margin-top: 0;
          margin-bottom: 0;
          padding-left: 0;
        }

       img 
        {
          display: block;
          max-width: 100%;
        }

        .container 
        {
          width: 1158px;
          margin: 0 auto;
          padding: 0 15px 0 15px;
          /* padding: 120px 0px; */
        }

         /*========COMPONENTS========*/

        .modal-btn 
        {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.04em;
          color: #FFFFFF;
          background-color: #4D5AE5; 
          padding: 16px 32px 16px 32px;
          border-radius: 4px;
          min-width: 169px;
          height: 56px;
          border: none;
          cursor: pointer;
          margin-top: 48px;
        }

        .mar 
        {
          margin-bottom: 72px;
        }

         /*========END-COMPONENTS========*/


        /*======== HEADER ========*/

        .header .container 
        {
          display: flex;
          justify-content: space-between;
        }
        
        .navigation 
        {
          display: flex;
          align-items: center;
        }

        .navigation-list 
        {
          display: flex;
          gap: 40px;
        }

        .header 
        {
          height: 72px;
          display: flex;
          align-items: center;
          border-bottom : 1px solid #e7e9fc;
        }

        .navigation-list-logo-item-left
        {
          font-family: Raleway, sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.17;
          letter-spacing: 0.03em;
          color: #4D5AE5;
          text-decoration: none;
          text-transform: uppercase;
          margin-right: 76px;
        }

        .navigation-list-logo-item-right 
        {
          font-family: Raleway, sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.17;
          letter-spacing: 0.03em;
          text-decoration: none;
          text-transform: uppercase;
          color: #2E2F42;
          margin-right: 76px;  
        }

        .navigation-list-link 
        {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.02em;
          text-decoration: none;
          color: #2E2F42;
          padding-top: 24px;
          padding-bottom: 24px;
        }
            
        .address-list-mailto-phone
        {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          text-decoration: none;
          color: #434455; 
        }

        .address 
        {
          font-style: normal;
        }

        .address-list-item
        {
          display: flex;
          gap: 40px;
        }

        .navigation-list-link:hover,
        .navigation-list-link:focus,
        .address-list-mailto-phone:hover,
        .address-list-mailto-phone:focus

        {
          color: #404BBF;
        }

/*========END-HEADER ========*/

/*========HERO========*/
        .hero
        {
          padding-top: 188px;
          padding-bottom: 188px;
        }

        .hero .container 
        {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .hero 
        {
          height: 600px;
          background-color: #2E2F42;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .main-header 
        {
          font-size: 56px;
          font-weight: 700;
          line-height: 1.07;
          letter-spacing: 0.02em;
          text-align: center;
          color: #FFFFFF;
          max-width: 496px;
        }

        .modal-btn:hover,
        .modal-btn:focus 
        {
          background-color: #404BBF;
          cursor: pointer;
               
        }

   /*========END-HERO========*/


   /*========ABOUT========*/

        .about 
        {
          padding: 120px 0;
        }

        .secondary-header 
        {
          font-size: 36px;
          font-weight: 700;
          line-height: 1.11;
          letter-spacing: 0.02em;
          text-align: center;
          color: #2E2F42;
          text-transform: capitalize;
        }

        .visually-hidden {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
        }

        .about-header-list 
        {
          font-size: 20px;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: 0.02em;
          color: #2E2F42;
          margin-bottom: 8px;
        }

        .about-strengths-list-item 
        {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
        }

        .about-strengths-list 
        {
          width: 264px;
          height: 104px;
          width: calc((100% - 72px) / 4);
        }

        .about-strengths 
        {
          display: flex;
          gap: 24px;
        }

           
   /*========END-ABOUT========*/

   /*========AGENCY========*/

        .agency 
        {
          background-color: #F4F4FD;
          height: 732px;
          padding: 120px 0;
        }

        .agency-img 
        {
          display: flex;
          gap: 24px;
          /* margin-top: 72px; */
        }
                         
        .agency-img-list 
        {
          /* width: 264px; */
          /* height: 380px; */
          border-radius: 0px 0px 4px 4px;
          background-color: #FFFFFF;
          width: calc((100% - 72px) / 4);
        }

        .agency-list-name 
        {
          font-size: 20px;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: 0.02em;
          text-align: center;
          color: #2E2F42;
          margin-bottom: 8px;
        }

        .agency-list-name-item 
        {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          text-align: center;
        }

        .species
        {
          padding: 32px 0;
          /* padding-top: 32px; */
          /* padding-bottom: 32px; */
          /* padding-left: 16px; */
          /* padding-right: 16px; */
        }

    /*========END-AGENCY========*/

    /*========PORTFOLIO========*/

       .portfolio 
       {
        height: 1240px;
        padding-top: 120px;
        padding-bottom: 120px;
       }

       .portfolio-img 
       {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
       }

       .portfolio-img .portfolio-img-list 
       {
        width: calc((100% - 48px) / 3);
       }

       .portfolio-img-list
       {
        width: 360px;
       }

       .card-content 
      
       {
        width: 360px;
        height: 120px;
        border: 1px solid #E7E9FC;
        border-top: none;
        padding: 32px 16px;
       }

       .portfolio-list-title 
       {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
       }

       .portfolio-list-product 
       {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
       }

     /*========END-PORTFOLIO========*/

      /*========FOOTER========*/

      .footer 
      {
        background: #2E2F42;
        height: 312px;
        padding: 100px 0;
      }

      .footer-logo-item-left,
      .footer-logo-item-right
      {
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4D5AE5;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 16px;
      }

      .footer-logo-item-right 
      {
        color: #F4F4FD;
      }

      .footer-text 
      {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
      }

           /*========END-FOOTER========*/
